.column ul {
    list-style-type: none;
    padding: 0;
}

.column ul li {
    background-color: white;
    padding: 17px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative; 
}

.column ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    border-radius: 5px 0 0 5px;
}

.column.backlog ul li::before {
    background-color: #d3d3d3; 
}

.column.in-progress ul li::before {
    background-color: #9acee6; 
}

.column.done ul li::before {
    background-color: #65eeb5; 
}

.column.trash ul li::before {
    background-color: #e96262; 
}
